@model IEnumerable<CareDev.Models.DoctorInstruction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
