@model CareDev.Models.Bed

@{
    ViewData["Title"] = "Details";
}
<body style="background-color:#B0BEC5; color:white;">
    <h1>Bed Details</h1>

    <div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BedNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BedNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsOccupied)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsOccupied)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ward)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ward.Name)
            </dd>
        </dl>
    </div>
    <hr />
    <div class="text-center mt-2 d-flex align-content-center">
        <a asp-action="Edit" asp-route-id="@Model?.BedId" class="btn btn-primary rounded-pill w-25 me-1">Edit</a>
        <a asp-action="Index" class="btn btn-dark rounded-pill w-25 me-1">Back to List</a>
    </div>
</body>

