@model IEnumerable<CareDev.Models.Medication>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:#B0BEC5; color:white;">
        <div class="text-center">

            <h1>Medication LIST</h1>
        </div>
        <div class="d-flex justify-content-end">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageNotes)
            </th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
           @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageNotes)
            </td>
            <td>
                  <div class="w-75 btn-group" role="group">
                      <a asp-action="Edit" asp-route-id="@item.MedicationId" class="btn btn-primary rounded-pill mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                      <a asp-action="Details" asp-route-id="@item.MedicationId" class="btn btn-info rounded-pill mx-2"><i class="bi bi-info-circle"></i>Details</a>
                      <a asp-action="Delete" asp-route-id="@item.MedicationId" class="btn btn-danger rounded-pill mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                  </div>
            </td>
                
        </tr>
}
    </tbody>
  </table>
</body>