@model IEnumerable<CareDev.Models.Discharge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DischargeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admission.AdmissionReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DischargeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DischargeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DischargeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="text-dark" asp-controller="Employees" asp-action="WardAdminPortal">Bact To Ward Admin Menu</a>