@model CareDev.Models.PatientMovement

@{
    ViewData["Title"] = "Details";
}
<body style="background-color:#E1F5FE;">
    <h1>PatientMovement Details</h1>

    <div class="text-dark">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovementDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovementDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.From)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.From)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patient)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patient.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ward)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ward.Name)
            </dd>
        </dl>
    </div>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.MovementId" class="btn btn-primary w-25 me-1 rounded-pill">Edit</a>
        <a asp-action="Index" class="btn btn-dark w-25 me-1 rounded-pill">Back to List</a>
    </div>
</body>

